body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  box-sizing: border-box;
  margin:0; padding:0;
  font-size: 8vh !important;
  text-align: right;
  box-shadow: inset black 1vh 1vh 1vh;
}

button {
  box-sizing: border-box;
  width: 25vw;
  height: 18vh;
  margin:0; padding:0;
  font-size: 8vh !important;
  border: solid white 0.1vh !important;
}
